.leftSide {
    flex: 1;
    margin-right: 40px;
}

.leftSide h1 {
    margin: 0px;
    font-size: 40px;
    color: #3A4B5C;
}

.leftSide p {
    font-size: 16px;
    margin-bottom: 40px;
    color: #6A7D8B;
}