.leftSide {
    flex: 1;
    margin-right: 40px;
}

.leftSide h1 {
    margin: 0px;
    font-size: 40px;
    color: #3A4B5C;
}

.leftSide p {
    font-size: 16px;
    margin-bottom: 40px;
    color: #6A7D8B;
}

.leftSide input {
    width: 100%;
    border: 0px;
    border-bottom: 2px solid rgba(150, 163, 171, 0.5);
    padding: 10px 2px;
    margin-bottom: 20px;
    font-size: 14px;
    outline: 0px;
}

.leftSide button {
    background-color: #227C9D;
    color: #FFF;
    font-size: 15px;
    border: 0px;
    border-radius: 10px;
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
    margin-top: 40px;
    transition: all ease 0.4s;
}

.leftSide button:hover {
    opacity: 0.8;
}